* { box-sizing: border-box;}

#pzhBlauw {color:#281f6b;}
#pzhGeel {color:#efcc36;}
#pzhRood {color:#d11f3d;}
#p4 {background-color:#ffff00;}
#p5 {background-color:#ff00ff;}

body{
    background: white;
    font-family: Karbon,calibri,arial,sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 25px;
      margin: 0;
      max-width: 100%
}

.logobar {   /*test van de logobar flex*/
  display: flex;
  align-items: center;      /* verticaal uitlijnen */
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: Black;
  text-align: center;
  padding: 0px 16px 16px 16px;
  text-decoration: none;
}

.topnav a:hover {
  color: Red;
}

.topnav a.active {
  background-color: Red;
  color: Black;
}

.topnav .icon {
  display: none;
}




h1{
    font-size: 2.5em;
    line-height: 1.35em;
    color : #281f6b;

}
h3{
 color : #281f6b;
}

.content{
    background: #fff;
    padding-top: 25px;
    max-width: 1030px;
    margin: auto;
    border-radius: 10px 100px 10px 10px;
}

.tekstblok {
  background-color: #efcc36;
  padding: 1em;
  border-radius: 6px;
}

.blok-licht-blauw {
  background-color: #eaf7fe;
  padding: 1em;
  border-radius: 6px;
}





.table-container {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-family: sans-serif;
}

.table-container th, .table-container td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.table-container th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.table-container tr:nth-child(odd) {
  background-color: #fafafa;
}


@media only screen and (max-width: 800px) {
  body {
    margin: 0px;
    border : 0px;
    padding: 0px;

  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .content{
      border-radius: 0px;
      padding-top: 10px;
      padding-left: 10px;

  }


}
