.is_fa{
	font-family: FontAwesome !important;
}
.icon_orange{
	font-size:14px !important;
	color:#ffd200;
}
.icon_orange_color{
	color:#ffd200;
}
/*
     FILE ARCHIVED ON 11:53:18 Feb 26, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:48:22 May 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.403
  load_resource: 139.784
  PetaboxLoader3.resolve: 60.024
  PetaboxLoader3.datanode: 55.994
*/