.is_fa{
	font-family: FontAwesome !important;
}
.icon_orange{
	font-size:14px !important;
	color:#ffd200;
}
.icon_orange_color{
	color:#ffd200;
}
/*
     FILE ARCHIVED ON 21:07:09 Dec 16, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:36:34 May 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.593
  load_resource: 133.018
  PetaboxLoader3.resolve: 88.901
  PetaboxLoader3.datanode: 19.857
*/