.is_fa{
	font-family: FontAwesome !important;
}
.icon_orange{
	font-size:14px !important;
	color:#ffd200;
}
.icon_orange_color{
	color:#ffd200;
}
/*
     FILE ARCHIVED ON 13:13:05 Oct 02, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:59:34 Aug 18, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.294
  load_resource: 767.083
  PetaboxLoader3.resolve: 733.673
  PetaboxLoader3.datanode: 16.978
*/