/* start of /views/pzh2020/css/responsive/medium.css (minified) */
.type-pager .pager{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;row-gap:.5rem}
/* end of /views/pzh2020/css/responsive/medium.css */

/*
     FILE ARCHIVED ON 08:21:17 Aug 10, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:50:50 May 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 3.131
  load_resource: 53.605
  PetaboxLoader3.datanode: 20.929
*/